.container {
    margin-left:50%;
    margin-top: 100px;
    transform: translate(-50%);
    margin-bottom: 50px;
    border-radius: 5px;

    width:100%;
    min-height: 40px;
    background: linear-gradient(rgb(15, 15, 15),rgb(27, 27, 27));
    color: rgb(196, 196, 196);
    overflow-y: auto;

    animation: show_bookitem 1s;
    text-align: center;

}

@keyframes show_bookitem {
    0% {
        transform: rotateY(270deg) translateX(-50%);
	    transform-origin: left;
    }
    100% {

    }
}

.container figure{
    position: relative;
}
.container figure img {
    max-width: 100%;
}

.container nav{
    height:35px;
    width:100%;
    position: relative;
}

.container nav button {
    width:100%;
    height:100%;
}

@media (min-width: 568px) {
    .container{
        max-width: 70vw;
    }

    .container .grid{
        display: grid;
        grid-template-areas: 
            "img info"
            "desc desc";
        grid-template-columns: 200px 1fr;
    }

    .grid figure {
        grid-area: img;
    }

    .grid figure img{
        width:128px;
    }
    .grid figure a{
        text-decoration: none;
        color:rgb(204, 204, 204);
        background-color: rgb(15, 46, 185);
        width:120px;
        display:block;
        border-radius: 0px 0px 5px 5px;
    }

    .grid .info {
        grid-area: info;
        text-align: left;
    }

    .grid .desc{
        grid-area: desc;
        padding: 20px;
    }

}