<main class="container">
  <nav>
    <button (click)="back()"><i class="fas fa-arrow-left"></i></button>
  </nav>

  <div class="grid">

    <figure>
        <img *ngIf="this.animvar.book.volumeInfo.imageLinks != undefined" src="{{this.animvar.book.volumeInfo.imageLinks.thumbnail}}">
    </figure>

    <div class="info">
      <h1>
        {{this.animvar.book.volumeInfo.title}}
      </h1>
      <h3>Data</h3>
    </div>

    <div class="desc">
      <hr/>
      <span [innerHTML]="this.animvar.book.volumeInfo.description"></span>
    </div>

</div>

</main>