<app-nav></app-nav>

<main [ngStyle]="{'animation-play-state': this.animvar.booklistanim}">
    

    <div *ngFor="let i of this.books.items;" class="bookitem">
        <figure (click)="click(i.id)">
            <img src="../../assets/bookcover.png">
        </figure>

        <div class="desc">
            <h3>{{i.volumeInfo.title}}</h3>
            <h4>{{i.volumeInfo.publishedDate}}</h4>
            <span>{{i.volumeInfo.description}}</span>
        </div>
    </div>
    
   


      



</main>