main{
    width: 100%;

    box-sizing: border-box;
    position: relative;
    margin:auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background: linear-gradient(rgb(15, 15, 15),rgb(27, 27, 27));
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

    padding-bottom: 20px;

    visibility: visible;
    opacity: 1;

    animation: show 1s .5s;
    animation-timing-function: ease-in; 
    animation-fill-mode: both;

}

@keyframes show {
    0% {
        display:none;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        opacity: 1;
        visibility: visible;
        display:grid;
    }
}

.bookitem{
    position: relative;
    box-sizing: border-box;
    width: 99%;
    box-shadow: 0px 0px 3px rgb(44, 44, 44);
    margin: 5px;
    display:inline-block;
}

.bookitem figure{
    max-width: 100%;
    cursor: pointer;
}

.bookitem figure img{
    width:100%;
}

.bookitem .desc {
    position: absolute;
    left: 0;
    top:0;
}
.bookitem .desc *{
    display: none;
}
.bookitem .desc h3{
    display:inline-block;
    color: rgb(218, 120, 120);
    text-shadow: 1px 1px 2px black;
    word-break: break-all;
    word-wrap: break-word;
    opacity: .5;
}




@media (min-width: 768px) {

    main{
        grid-template-columns: 1fr;
        max-width: 70vw;
        color: rgb(209, 209, 209);
        border-radius: 5px;
        overflow-y: auto;
    }

    .bookitem:hover{
        box-shadow: 0px 0px 10px gray;
    }
    .bookitem .desc{
        position: relative;
        width: calc(100% - 220px);
    }
    .bookitem .desc *{
        display: block;
    }

    .bookitem .desc h3{
        display:inline-block;
        width: calc(100% - 110px);
        opacity:1;
        margin-bottom: 5px;
    }
    .bookitem .desc h4{
        position: absolute;
        display:inline-block;
        top:0px;
        float:right;
        right: 20px;
        color:rgb(192, 192, 229);
    }

    .bookitem .desc .authors{
        display:block;
        position: relative;
    }
    .bookitem .desc h5 {
        display:inline-block;
        position: relative;
        margin-bottom: 3px;
        margin-right: 10px;
        color: aquamarine;
    }

    .bookitem .desc span{
        padding-bottom: 5px;
    }
    

    .bookitem figure img{
        width: 128px;
    }
    .bookitem figure{
       display: inline-block;
       max-width: 200px;
       float: left;
    }
    .bookitem .desc {
        display: inline-block;
        float: right;
    }
}
